.coach-profile{
	.two-column{
		// height: calc(100vh - 95px);	
		height: calc(100vh - 55px);	
		overflow:hidden;
		@media (max-width: 900px) { 
	        flex-direction:column;
	        padding:0;
	        overflow: initial;
	        height: initial;
	    }
		.col{
			flex:1;
			padding: 0 20px;
			&.left{
				padding-top:30px;
				@media (max-width: 900px) { 
			        background-image: linear-gradient(#ffffff, #ffffff, #f2f2f2);
			    }
			    @media (max-width: 765px) { 
			        background-image: linear-gradient(#ffffff, #ffffff, #f2f2f2, #f2f2f2, #f2f2f2);
			    }
				.left-wrapper{
			 		@media (max-width: 900px) { 
			        	display:flex;
			        	padding: 30px 0;
			        	& > div,
			        	& > article{
			        		flex:1;

			        	}
			    	}
			    	@media (max-width: 765px) { 
				        display:block;
				    }
				}
			}
			&.right{
				// @media (max-width: 900px) { 
			 //        background-color:#f2f2f2;
			 //    }
			}
		}
	}
	header.player-list-header{
        box-shadow: 0px 4px 6px -6px grey;
    	border-bottom: 1px solid lightgrey;
    	padding:20px 0;
    	display: flex;
    	justify-content: space-between;
    	position:relative;
    	@media (max-width: 900px) { 
	        position: sticky; 
	    	top: 0px;
	    	background-color:#ffffff;
	    	z-index:2;
	    	height:67px;
	    }
    	
    	.header-wrapper{
    		h1{
	    		margin:10px 0 0;
	    		font-size:2em;
	    	}
    	}
    	button.add-player{
    		position:absolute;
    		padding:5px 10px;
			margin:0;
			border:none;
			background-color:darkgreen;
			color:#ffffff;
			bottom:0;
			right:0;

    	}
	}

}