.coach-profile{
	.two-column{
		// height: calc(100vh - 95px);	
		height: calc(100vh - 50px);	
		overflow:hidden;
		.col{
			flex:1;
			padding: 0 20px;
			&.left{
				// display: flex;
			 //    flex-direction: column;
			 //    justify-content: center;
			 padding-top:30px;
			}
			&.left{
			}
		}
	}
	header.player-list-header{
        box-shadow: 0px 4px 6px -6px grey;
    	border-bottom: 1px solid lightgrey;
    	padding:20px 0;
    	display: flex;
    	justify-content: space-between;
    	position:relative;
    	.header-wrapper{
    		h1{
	    		margin:10px 0 0;
	    		font-size:2em;
	    	}
    	}
    	button.add-player{
    		position:absolute;
    		padding:5px 10px;
			margin:0;
			border:none;
			background-color:#f2f2f2;
			bottom:0;
			right:0;

    	}
	}

}