body{
	margin:0;
	// font-family: Helvetica;
	font-family: 'Roboto', sans-serif;
}
h1{
	// color:blue;
	// padding: 20px 0;
	// margin: 0;
}
.wrapper{
	padding:0 20px;
}
.wrapper-max{
	max-width:1300px;
	margin:0 auto;
	padding:0 20px;
}
.display-flex{
	display:flex;
}
.space-between{
	justify-content:space-between;
}
.flex-1{
	flex:1;
}
.flex-2{
	flex:2;
}
.break{
	margin: 45px 30px;
}
select{
	border: 0;
    background-color: transparent;
    padding: 5px;
    height: 30px;
    width: 50px;
    font-size: 18px;
}
button{
	font-size:14px;
	font-family: 'Roboto', sans-serif;
	border-radius:0;
	&:focus {outline:0;}
	&:hover{
		background-color:grey !important;
	}
}