.at-bat-card{
	// width:100%;
	padding:0 20px;
	font-size:18px;
	header{
		padding:0 20px;
		background:transparent;
		margin-bottom:20px;
		h2{
			margin:20px 0 0;
			font-size: 1.25em;
		}
	}
	
	.row{
		display:flex;
		.column{
			display:inherit;
			flex:1;
			justify-content: space-between;
			padding:0 20px;
			&.single{
				.h3{
					margin:10px 0 0;
				}
			}
			.description{
				font-size:0.65em;

			}
			.h3{
				// flex:1;
				margin:15px 0 0;
			}
			.select-header{
				margin-top: 4px;
			}
			.counter-wrapper{
				display:flex;
				// flex:1;
				.count{
					font-size:22px;
					margin:0 10px;
					.value{
						margin:10px 0;
					}
				}
			}
		}
		.dash{
			margin:10px 0;
		}
	}
}