.game-stats{
	header{
		padding:20px 0 5px;
		h2{
			margin:0;
		}
		.game-matchup{

		}
		.game-winner{
			letter-spacing:-1px;
		}
	}	
	.score-card{
		margin-top:10px;
		.row{
			padding:5px 0;
		}
		.header{
		    box-shadow: 0px 4px 6px -6px grey;
			border-bottom: 1px solid lightgrey;
			margin-bottom: 5px;
			// background-color: #f2f2f2;
		}
	}
}