header.nav-header{
	background-color:lightgrey;
	h1{
	    margin:0 auto;
	    padding:6px 20px;
	}
	.nav-wrapper{
		display:flex;
		justify-content: space-between;
		padding:15px 30px;
		.main-nav{
			padding: 0;
			margin:0;
			list-style: none;
			display: flex;
			li{
				padding: 0 10px;
			}

		}
		.account-options{

		}

	}
	
}