.view-toggle{
	padding-top: 20px;
	button{
		padding:5px 10px;
		margin:0;
		border:none;
		border-left:1px solid lightgrey;
		background-color:#e6e6e6;
		&:first-child{
			border-left:none;
		}
		&.active{
			background-color:grey;
			color:white;
		}
	}
}
.stadium{
	.view-toggle{
		position: absolute;
	    z-index: 1;
	    padding-top: 10px;
	    bottom: 0;
	    right: 0;
	}
}
.game-card{
	.view-toggle{
		position: absolute;
	    top: 0;
	    right: 0;
	    padding-top: 0;
	}
}